input{
    
    width: 700px;
    align-content: center;
    text-align: center;
    margin-left: 200px;
    color: black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border: 2px solid black;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: skyblue;
}
input::placeholder{
    color: black;
}

.buttonA{
    background-color: chartreuse;
}



.navbar{
    background-color:black ;
    color: white;
    height: 100px;
    margin-bottom: 30px;
}
.row1{
    margin-bottom: 20px;
}
.col6{
    margin-right: 70px;
}
#pic{
    border-radius: 100px;
    height: 250px;
    width: 250px;
    border: skyblue solid 1px;
}
.panel-body{
    margin: 20px;
}
.buttonA{
    background-color: chartreuse;
    border: none;
}
.buttonB{
    background-color: cyan;
    border: none;
}
.buttonC{
    background-color: darkcyan;
    border: none;
}
.buttonD{
    background-color: rgb(0, 217, 255);
    border: none;
}
